@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
  html {
    font-size: 110%;
  }  
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 120%
  }    
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 130%
  }    
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: .5em .75em;
  font-size: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.logo {
  text-align: center;
  margin: .5em 0 0;
  padding: 0;
}

.logo a {
  text-decoration: none;
  color: black;
}

.desc {
  margin: 0;
  padding: 0 1.3em;
  list-style-type: none;
}

.desc li {
  display: inline-block;
  font-size: .75em;
  font-weight: 300;
}

.desc a {
  text-decoration: none;
  color: black;
}

.footer {
  position: relative;
  text-align: center;
}

.footer div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer p {
  color: black;
  font-weight: 300;
  padding: 3em 0;
  margin: 0;
}

/* Main Page CSS */

.pbox {
  padding: .65em;
}

.img-flex {
  width: 100%;
}

.img-wrap {
  transition-property: transform;
  
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -moz-transition: all .1s ease;
  transition: all .1s ease;
}

.img-wrap img {
  display: block;
}

.img-hover {
  display: block;
  position: relative;
  margin: 0;
}

.img-hover img {
  display: block;
}

.img-hover h2 {
  display: none;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  margin: 0;
  padding-top: 38%;
}

.img-hover:hover h2 {
  display: block;
}

/* Project Page CSS */

.projectbox {
  padding: .65em;
}

.projectinfo {
  margin: 2em 0;
}

.projectinfo h2 {
  margin-bottom: .75em;
  text-transform: uppercase;
}

.projectinfo p {
  margin: 0 auto;
  font-weight: 300;
  max-width: 800px;
}

/* About Page CSS */

.intro {
  text-align: center;
  font-weight: 400;
}

.aboutbox p {
  font-weight: 300;
  text-align: center;
  margin-bottom: .5em;
}

.aboutbox a {
  text-decoration: none;
  color: darkgray;
}

.education h2 {
  margin-bottom: .75em;
}

.education h4 {
  text-align: left;
  font-weight: 300;
  margin-bottom: .5em;
}

.education p {
  padding-left: 1em;
  border-left: 1px solid #000;
  text-align: left;
}

/* 404 Page CSS */

.error {
}

.ebox {
  padding: .65em;
}

/* Footer */

@media only screen and (min-width: 25em) {
  
  .img-hover h2 {
    padding-top: 43%;
  }
  
}

@media only screen and (min-width: 38em) {

  .img-hover h2 {
    padding-top: 40%;
  }
  
   .intro {
    text-align: left;
    margin-bottom: .75em;
  }
  
  .aboutbox p {
    text-align: left;
  }
  
}
  
@media only screen and (min-width: 60em) {
 
  .logo {
    text-align: left;
    padding-left: 1.85em;
  }
  
  .desc {
    text-align: left;
    padding-left: 3.4em;
    padding-right: 0;
  }
  
  .pbox,
  .projectbox,
  .aboutbox {
    padding-left: 2.6em;
    padding-right: 2.6em;
  }
  
  .img-hover h2 {
    padding-top: 38%;
  }
 
  .footer {
    margin-left: 2.6em;
    margin-right: 2.6em;
  }
  
}

@media only screen and (min-width: 80em) {
 
  .img-hover h2 {
    padding-top: 43%;
  }
 
}